In [38]:
import numpy as np
import pandas as pd
import plotly as plt
import scipy

## Loading the data set

Reading the .csv file containing the player's data.

In [64]:
df_male_players = pd.read_csv("../data/male_players.csv")
df_female_players = pd.read_csv("../data/female_players.csv")
df_matches = pd.read_csv("../data/tennis_matches.csv")

ValueError: cannot safely convert passed user dtype of int64 for float64 dtyped data in column 14

## Data Understanding

Visualize info about the dataframes: summary, data types.

In [40]:
df_male_players.info()
df_female_players.info()
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55208 entries, 0 to 55207
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     55031 non-null  object
 1   surname  55166 non-null  object
dtypes: object(2)
memory usage: 862.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46172 entries, 0 to 46171
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     44505 non-null  object
 1   surname  46172 non-null  object
dtypes: object(2)
memory usage: 721.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186128 entries, 0 to 186127
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          186128 non-null  int64
 1   tourney_id          186073 non-null  object
 2   tourney_name        186103 non-null  object
 3   surface             185940 non-null  object
 4   draw_size           186099 non-null  float64
 5   tourney_level       186099 non-null  object
 6   tourney_date        186100 non-null  float64
 7   match_num           186101 non-null  float64
 8   winner_id           186073 non-null  float64
 9   winner_entry        25827 non-null   object
 10  winner_name         186101 non-null  object
 11  winner_hand         186082 non-null  object
 12  winner_ht           49341 non-null   float64
 13  winner_ioc          186099 non-null  object
 14  winner_age          183275 non-null  float64
 15  loser_id            186100 non-null  float64
 16  loser_entry         44154 non-null   object
 17  loser_name          186097 non-null  object
 18  loser_hand          186030 non-null  object
 19  loser_ht            38348 non-null   float64
 20  loser_ioc           186102 non-null  object
 21  loser_age           179590 non-null  float64
 22  score               185929 non-null  object
 23  best_of             186099 non-null  float64
 24  round               186098 non-null  object
 25  minutes             81660 non-null   float64
 26  w_ace               82310 non-null   float64
 27  w_df                82312 non-null   float64
 28  w_svpt              82310 non-null   float64
 29  w_1stIn             82310 non-null   float64
 30  w_1stWon            82312 non-null   float64
 31  w_2ndWon            82309 non-null   float64
 32  w_SvGms             82311 non-null   float64
 33  w_bpSaved           82315 non-null   float64
 34  w_bpFaced           82312 non-null   float64
 35  l_ace               82313 non-null   float64
 36  l_df                82319 non-null   float64
 37  l_svpt              82315 non-null   float64
 38  l_1stIn             82304 non-null   float64
 39  l_1stWon            82311 non-null   float64
 40  l_2ndWon            82312 non-null   float64
 41  l_SvGms             82318 non-null   float64
 42  l_bpSaved           82311 non-null   float64
 43  l_bpFaced           82306 non-null   float64
 44  winner_rank         166719 non-null  float64
 45  winner_rank_points  166701 non-null  float64
 46  loser_rank          150845 non-null  float64
 47  loser_rank_points   150828 non-null  float64
 48  tourney_spectators  186101 non-null  float64
 49  tourney_revenue     186102 non-null  float64
dtypes: float64(35), int64(1), object(14)
memory usage: 71.0+ MB

Print the data types of each attribute of the dataframes

In [63]:
print(df_male_players.dtypes)
print(df_female_players.dtypes)
df_matches.dtypes

name       object
surname    object
dtype: object
name       object
surname    object
dtype: object

Unnamed: 0              int64
tourney_id             object
tourney_name           object
surface                object
draw_size             float64
tourney_level          object
tourney_date          float64
match_num             float64
winner_id             float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id              float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of               float64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
tourney_spectators    float64
tourney_revenue       float64
dtype: object

Display how many null values are in the dataframes.

In [42]:
df_female_players.isnull()
df_male_players.isnull()
df_matches.isnull()

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_spectators,tourney_revenue
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186123,False,True,True,False,False,True,False,False,True,True,...,True,True,False,False,True,False,False,False,True,True
186124,False,True,False,True,False,False,False,True,True,True,...,True,True,True,True,False,False,False,True,True,True
186125,False,True,True,True,True,False,True,True,True,True,...,True,True,True,False,True,True,True,True,True,True
186126,False,True,True,True,False,False,False,True,True,True,...,False,True,False,True,False,True,True,True,False,True
186127,False,True,False,False,False,False,False,True,True,True,...,False,False,False,False,True,True,False,False,False,False

Drop null values in the dataframes.

For the `df_male_players` dataframe, we drop all rows in which either `name` or `surname` is missing.

For the `df_female_players` dataframe, we drop all rows in which either `name` or `surname` is missing.

For the `df_matches` dataframe, we drop all rows in which either `winner_name` or `loser_name` is missing.

In [43]:
df_male_players.dropna(inplace=True)
df_female_players.dropna(inplace=True)
df_matches = df_matches[(df_matches['winner_name'].notna()) & (df_matches['loser_name'].notna())] #46 elements

Remove duplicates from dataframes.

In [44]:
## There are no duplicates

df_male_players.drop_duplicates(inplace=True)
df_female_players.drop_duplicates(inplace=True)
df_matches.drop_duplicates(inplace=True)

We now analyze each attribute to:
 1. fix values to comply with doimains
 2. enforce the correct datatype on the attribute

In [ ]:
# Tourney level
# 'O' and 'W' are not possible values for the attribute. We also notice that 'E', 'J', and 'T' are not present in the dataset.
# We replace such values with U that stands for Undefined
df_matches['tourney_level'].replace(['W', 'O'], 'U', inplace=True)
df_matches['tourney_level'].fillna('U', inplace=True)
df_matches['tourney_level'].unique()

In [ ]:
# Tourney date
# Undefined date is 18000101 (January 1st, 1800)
# df_matches['tourney_date'].head()
df_matches['tourney_date'].fillna(18000101, inplace=True)
df_matches['tourney_date'] = pd.to_datetime(df_matches['tourney_date'], format="%Y%m%d")
df_matches.head()

## Data Integration

Create a dataframe with all the male matches and another one for the female matches

In [45]:
df_male_players_tmp = pd.DataFrame()
df_male_players_tmp['player_name'] = df_male_players['name'] + ' ' + df_male_players['surname']
df_male_winners = df_male_players_tmp.join(df_matches.set_index('winner_name'), on='player_name', how='inner')
df_male_losers = df_male_players_tmp.join(df_matches.set_index('loser_name'), on='player_name', how='inner')
df_male_matches = pd.concat([df_male_winners, df_male_losers])

In [62]:
df_male_matches.describe()

,Unnamed: 0,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,tourney_spectators,tourney_revenue
count,116822.000000,116822.000000,1.168220e+05,116822.000000,116822.000000,56918.000000,116791.000000,116822.000000,45994.000000,116661.000000,...,113313.000000,113317.000000,113313.000000,113313.000000,115459.000000,115431.000000,111729.000000,111699.000000,116822.000000,1.168220e+05
mean,74959.319794,48.098406,2.018099e+07,284.054690,117099.151367,186.527320,26.224712,119370.796947,186.343153,26.050706,...,13.367389,11.213569,4.542983,8.397068,250.926874,644.639880,319.705036,440.645941,4820.201204,9.670079e+05
std,33704.739520,30.187381,1.580575e+04,317.432686,25595.698800,7.050625,4.431470,28192.435630,6.927988,4.559639,...,6.272846,3.488622,3.061492,3.724259,240.466802,1306.114844,327.758876,756.380896,3207.483360,7.181007e+05
min,0.000000,4.000000,2.016010e+07,1.000000,100644.000000,145.000000,14.798084,100644.000000,145.000000,14.409309,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,173.000000,3.587962e+04
25%,63473.000000,32.000000,2.017031e+07,247.000000,105254.000000,183.000000,22.847365,105343.000000,183.000000,22.628337,...,9.000000,9.000000,2.000000,6.000000,98.000000,135.000000,118.000000,100.000000,2923.000000,5.744812e+05
50%,79035.500000,32.000000,2.018053e+07,274.000000,106022.000000,185.000000,25.924709,106078.000000,185.000000,25.776865,...,13.000000,10.000000,4.000000,8.000000,193.000000,288.000000,228.000000,234.000000,3611.000000,7.140665e+05
75%,102269.000000,64.000000,2.019080e+07,288.000000,117357.000000,190.000000,29.218344,123743.000000,190.000000,29.081451,...,17.000000,14.000000,6.000000,11.000000,329.000000,607.000000,385.000000,504.000000,5808.000000,1.105200e+06
max,163138.000000,128.000000,2.021082e+07,7316.000000,222632.000000,211.000000,95.000000,222632.000000,211.000000,53.932923,...,55.000000,50.000000,27.000000,35.000000,2220.000000,16950.000000,2257.000000,16950.000000,18086.000000,5.002794e+06

In [46]:
df_female_players_tmp = pd.DataFrame()
df_female_players_tmp['player_name'] = df_female_players['name'] + ' ' + df_female_players['surname']
df_female_winners = df_female_players_tmp.join(df_matches.set_index('winner_name'), on='player_name', how='inner')
df_female_losers = df_female_players_tmp.join(df_matches.set_index('loser_name'), on='player_name', how='inner')
df_female_matches = pd.concat([df_female_winners, df_female_losers])